{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'pol_view' choice.interview.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить вопрос? "{{ choice.Option_text}}" </h1>
    <form action="{% url "choice_delete" choice.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'pol_view' choice.interview.pk %}">Отмена</a></p>
    </form>
{% endblock %}